*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

body{
    width:100vw;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);   /* -- body bg color== Pale blue--*/
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.bg-image{
    background:url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    height: 500px;
    position: absolute;
    z-index: -1;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
    z-index: -1;  /* z-index property is used here for overlapping of another div */
}

.container{
    height:500px;
    width:350px;
    background:white;  
    border-radius: 15px;
    box-shadow: 0 10px 15px grey;
}

/* --Image in the center div --*/
.music-fan-image{
    width:350px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.container article{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article h1{
    color:hsl(223, 47%, 23%);   /*-- darkblue -- */
    margin-top: 10px;;
}

article p{
    color: hsl(224, 23%, 55%);   /*-- Desaturated blue--*/
    margin:10px 30px;
    
}

/* */
.plan{
    display:flex;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);    /*--very pale blue--*/
    width:300px;
    margin-left: 25px;
    padding:5px;
    margin-top: 10px;
}

.plan h4{
    color:hsl(223, 47%, 23%); 
}

.plan p{
    color: hsl(224, 23%, 55%);
}
.plan-detail{
    display:flex;
    flex-direction: column;
}


 /* -- Change button*/
.change {
    border:none;
    color: hsl(245, 75%, 52%);     
    text-decoration: underline;
    cursor:pointer;
    background-color: hsl(225, 100%, 98%) ;
}

.change:hover{
    color:red;
   
}

/* -- payment button*/
.payment {
    border:none;
    background-color:  hsl(245, 75%, 52%);      /* --bright blue--*/
    margin-left: 80px;
    margin-top: 20px;
    color:white;            
    padding:10px 30px;
    border-radius: 15px;
    cursor: pointer;
}

.payment:hover{
    background-color:#1aa3ff;
}

 /* -- Cancel button--*/
.cancel{
    border:none;
    margin-left: 80px;
    background-color: #cccccc;
    color:hsl(224, 23%, 55%);
    padding:10px 50px;
    border-radius: 15px;
    cursor: pointer;
}

.cancel:hover{
    background-color:#1aa3ff;
    color:white;
}

/* --This code is applicable when the device width is 450px or less */

@media (max-width: 450px)
{
    .body{
        display:flex;
        justify-content: center;
    }
    .container{
        width: 300px;
    }

    .music-fan-image{
        width: 300px;
    }

    .plan{
        width: 250px;
    }

    .footer{
        font-size: 10px;
    }
    .payment{
        margin-left: 60px;
    }
    .cancel{
        margin-left: 60px;
    }
}